<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="random"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="APP_KEY" value="base64:RLsHpUKV17LqGDlap1GO+/0GxiB3UpkUMBdK9QaJABs="/>
        <env name="NEO4J_HOST" value="localhost"/>
        <env name="NEO4J_PORT" value="7688"/>
        <env name="NEO4J_USERNAME" value="neo4j"/>
        <env name="NEO4J_PASSWORD" value="password"/>
        <env name="NEO4J_DATABASE" value="neo4j"/>
    </php>
</phpunit>